.ProductPanel, .ProductListPanel, .ProductDetails, .ProductListPanel__spinner {
    align-content: center;
    text-align: center;
    min-width: 500px;
    margin-top: 50px;
}

.ProductDetails__content{
    background-color: rgba(177, 189, 197, 0.67);
    border-radius: 5px;
    margin: auto;
    width: 60%;
    padding: 20px;
}

input.ProductPanel__content {
    margin: 15px 0;
}

.ProductPanel__content, .Product {
    margin: 15px;
}

.Product {
    background-color: rgba(177, 189, 197, 0.67);
    border-radius: 5px;
    position: relative;
    padding: 5px;
}

.ProductDetails__content__item, .ProductDetails__title, .Product__content, .Product__controls{
    margin: 15px;
}

.btn-group.Product__controls__right {
    position: absolute;
    top: 0;
    right: 0;
}

.Product__icon{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
}

.Counter {
    margin: auto;
    width: 60%;
}

.ProductPanel__content__icon-menu {
    min-width: 500px;
    background-color: rgba(177, 189, 197, 0.67);
    border-radius: 5px;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.ProductPanel__content__icon-menu__element {
    margin: 5px;
}

svg.ProductIcon {
    width: 60px;
    height: 60px;
}

svg.ButtonMenuIcon {
    width: 25px;
    height: 25px;
}

.Counter__content {
    width: 7%;
    min-width: 40px;
}

.btn {
    text-align: center;
}
