.App {
    text-align: center;
}

.ProductPanel, .ProductListPanel, .ProductDetails {
    align-content: center;
    text-align: center;
    min-width: 500px;
    margin-top: 50px;
}

.ProductInfo{
    background-color: rgba(177, 189, 197, 0.67);
    border-radius: 5px;
    margin: auto;
    width: 60%;
    padding: 20px;
}

input.ProductPanelElement {
    margin: 15px 0;
}

.ProductPanelElement, .ProductListElement {
    margin: 15px;
}

.ProductListElement {
    background-color: rgba(177, 189, 197, 0.67);
    border-radius: 5px;
    position: relative;
    padding: 5px;
}

.ProductItemElement{
    margin: 15px;
}

.btn-group.RightCornerPanel {
    position: absolute;
    top: 0;
    right: 0;
}

.ProductItemIcon{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
}

.Counter {
    margin: auto;
    width: 60%;
}

.IconMenu {
    min-width: 500px;
    background-color: rgba(177, 189, 197, 0.67);
    border-radius: 5px;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.IconItem {
    margin: 5px;
}

svg.ProductIcon {
    width: 60px;
    height: 60px;
}

svg.ButtonMenuIcon {
    width: 25px;
    height: 25px;
}

.CounterElement {
    width: 7%;
    min-width: 40px;
}

.btn {
    text-align: center;
}
